.navbar-container {
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

nav h1 {
  color: black;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 2rem;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav a:hover {
  color: #d59b3d;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
}

.hamburger-line {
  height: 3px;
  width: 100%;
  background-color: #000;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }

  nav ul.active {
    right: 0;
  }

  nav li {
    margin-left: 0;
    text-align: center;
  }

  .hamburger-line.active:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger-line.active:nth-child(2) {
    opacity: 0;
  }

  .hamburger-line.active:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
